main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 0px;
  width: 1312px;
  gap: 6.97%;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  width: 616px;
  gap: 24px;
}

.textWrapper h1 {
  font: 700 64px var(--sora);
  color: var(--gray-one);
  line-height: 64px;
}

.textWrapper span {
  color: var(--yellow-one);
}

.textWrapper p {
  font-weight: 500;
  color: var(--gray-dotsix);
}
.textWrapper h3 {
  font: 700 40px var(--sora);
}

.textWrapper button {
  background-color: var(--gray-one);
  color: var(--background-color);
  border-radius: 60px;
  padding: 12.5px 24px;
  width: fit-content;
  cursor: pointer;
  transition-duration: 0.3s;
}

.countText {
  display: flex;
}
.countValue {
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  border-left: 1px solid var(--gray-dottwo);
}

.countValue:nth-child(1) {
  padding-left: 0px;
  border: unset;
}
.countValue:nth-child(3) {
  padding-right: 0px;
}
