.headerContainer {
    display: flex;
    flex-direction: row;
    width: 1440px;
    margin: auto;
}

.headerContainer div:nth-child(1) {
    font-family: var(--roboto-condensed);
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;
    color: var(--gray-one);

}

.headerContainer div:nth-child(1) span {
    color: var(--yellow-one);
}