.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 64px;
}

.headerContainer div:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.headerContainer div:nth-child(1) h1 {
    color: var(--gray-one);
    font: 700 40px var(--roboto-condensed);
}

.headerContainer div:nth-child(1) span {
    color: var(--yellow-one);
}

.headerContainer div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 24px;
}

.headerContainer div:nth-child(2) a {
    color: var(--gray-one);
    font: 600 18px var(--sora);
}

.headerContainer div:nth-child(3) {
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    align-items: center;
    background-color: rgba(240, 240, 240, 1);
    gap: 12px;
    padding-left: 24px;
    border-radius: 50px;
}

.headerContainer div:nth-child(3) input {
    color: var(--gray-dotsix);
    font: 400 16px var(--sora);
    padding: 14px 200px 14px 0px;
    outline-width: 0;
}

.headerContainer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font: 600 18px var(--sora);
    color: var(--gray-one);
}

.headerContainer a:hover {
    cursor: pointer;
}