.carouselContainer {
  padding: 40px 0px;
  background-color: var(--gray-one);
  display: flex;
  position: relative;
  width: 1440px;
  overflow: hidden !important;
}

.carouselItens {
  display: flex;
  justify-content: center;
  width: calc(250px * 22);
  gap: 10px;
  animation: scroll 10s linear infinite;
}

.carouselItens a {
  color: var(--background-color);
  font: 500 32px var(--roboto-condensed);
  width: 250px;
  animation-play-state: running;
  text-align: center;
}
.carouselItens:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1252px);
  }
}
