@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --gray-dottwo: hsla(198, 52%, 22%, 0.2);
  --gray-dotsix: hsla(198, 52%, 22%, 0.6);
  --gray-one: rgba(44, 68, 78, 1);
  --yellow-one: rgba(255, 200, 1, 1);
  --background-color: rgba(240, 240, 240, 1);
  --roboto: "Roboto", sans-serif;
  --roboto-condensed: "Roboto Condensed", sans-serif;
  --sora: "Sora", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  background: transparent;
  color: var(--gray-one);
}
a,
p,
button {
  font: 500 18px var(--sora);
  color: var(--gray-one);
}
button {
  background-color: var(--gray-one);
  color: var(--background-color);
  border-radius: 60px;
  padding: 12.5px 24px;
  width: fit-content;
  cursor: pointer;
}